<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="create">
            Add Role
          </a>
        </li>
        <li>
          <a routerLink="index">
            All Roles 
          </a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>