<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group"> 
        <label class="col-md-4">Role Name</label>
        <input type="text" class="form-control" formControlName="name" #name />
      </div>
      <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Display Role Name</label>
        <input type="text" class="form-control" formControlName="display_name" #display_name/>
      </div>
      <div *ngIf="angForm.controls['display_name'].invalid && (angForm.controls['display_name'].dirty || angForm.controls['display_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['display_name'].errors.required">
          Display Name is required.
        </div>
      </div>
        <div class="form-group">
          <button (click)="addRole(name.value, display_name.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add</button>
        </div>
    </form>
  </div>
</div>
