<table class="table table-hover">
  <thead>
  <tr>
      <td>Role Name</td>
      <td>Display Role Name</td>
      <td colspan="2">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let role of roles">
          <td>{{ role.name }}</td>
          <td>{{ role.display_name }}</td>
          <td><a [routerLink]="['/edit', role.id]" class="btn btn-primary">Edit</a></td>
          <td><button (click)="deleteRole(role.id)"  class="btn btn-danger">Delete</button></td>
      </tr>
  </tbody>
</table>
